<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Guess my shape</title>
</head>

<body id="start">
    <div>
        <img src="/static/logo.svg" alt="logo">
        <p>We will randomly choose a word, <br>
            try to draw it then our AI can guess it
        </p>
        <a class="btn" href="/game">Start</a>
    </div>
</body>

</html>